contentpage {
    background-color: #f0f0f0;
}

entry {
    border-color: #ccc;
    border-width: 1;
}

button {
    background-color: #4CAF50;
    color: white;
}

    button#pickButton {
        background-color: #2196F3;
    }

label {
    font-size: 16;
    color: #333;
}

stacklayout > label {
    font-weight: bold;
}
